[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/MontaVista-OpenSourceTechnology/poky.git
	branch = scarthgap-cgx
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-openembedded.git
	branch = scarthgap-cgx
[submodule "layers/meta-java"]
	path = layers/meta-java
	url = https://github.com/meta-java/meta-java
	branch = scarthgap
